/* You can add global styles to this file, and also import other style files */


.enamel-gradient{
	background: #003670; /* Old browsers */
	background: -moz-linear-gradient(top, #003670 0%, #3cb0c4 90%, #5698af 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003670 0%,#3cb0c4 90%,#5698af 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003670 0%,#3cb0c4 90%,#5698af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003670', endColorstr='#5698af',GradientType=0 ); /* IE6-9 */
}

body,html{
	background:#EEE;
}