#top-bar{

	height: 48px;
	line-height: 48px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		height: 64px;
		line-height: 64px;
	}
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s;
	    &hover {
		    color: #f1f1f1;
		}
	}
	.closebtn {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	@media screen and (max-height: 575px) {
	  	padding-top: 15px;
	  	a {
	  		font-size: 18px;
	  	}
	}
}

