
<div class="container">
      <div class="py-5 text-center">
        <div class="mt-5"></div>
        <h2>Patient Records</h2>
        <p class="lead">List of all patients registered with the clinic</p>
      </div>
	<div class="row">
		<div class="col-12">
			<div class="input-group mb-5">
			  <input type="text" id="patient-searchbar" class="form-control" placeholder="Search Patient by Name or ID" aria-label="Search Patient by Name or ID" aria-describedby="patient-searchbar">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 mb-3">
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Michael Schumacher</h5>
			      <small>Today | 15:00 - 16:00</small>
			    </div>
			    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <small class="text-muted">PAT001</small>
			  </a>
			  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Sebastian Vettel</h5>
			      <small class="text-muted">Today | 18:00 - 19:30</small>
			    </div>
			    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <small class="text-muted">PAT005</small>
			  </a>
			  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Nico Hulkenberg</h5>
			      <small class="text-muted">11/5/18 | 09:00 - 10:00</small>
			    </div>
			    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			    <small class="text-muted">PAT027</small>
			  </a>
			</div>
		</div>
		<div class="col-md-4 mb-3">
			<button type="button" class="btn btn-primary btn-lg btn-block"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add New Record</button>
		</div>
	</div>
</div>

