<div class="container">
	<div class="py-5r">
		<div class="mt-5"></div>
		<br/>
		<br/>
		<div class="flex-column d-flex justify-content-start align-items-center">
			<img src="../../assets/misc/headshot/p4.jpg" alt="..." class="img-thumbnail mb-2">
			<h1>Julie Smith</h1>
			<p class="text-center">
				<i class="fas fa-home"></i>&nbsp;&nbsp;<span>234 Main St. Apt 1, Panaji, Goa, India</span>
				<br>
				<i class="fas fa-mobile"></i>&nbsp;&nbsp;<span>+91 9898989898</span>
				<br>
				<i class="fas fa-envelope-open"></i>&nbsp;&nbsp;<span>julie.smith@gmail.com</span>
			</p>
		</div>
	</div>

	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Overview</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">History</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Payments</a>
	  </li>
	</ul>

</div>