<div class="container">
      <div class="py-5 text-center">
        <div class="mt-5"></div>
        <h2>Register with <span class="bold">enamel</span></h2>
        <p class="lead">Fill in the form below to create an account with your organization.</p>
      </div>


      <form class="needs-validation" novalidate="">

        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="">Your Organization</span>
            </h4>

            <div class="card p-2">
              <div class="input-group">
                <input type="text" id="reg-searchbox" class="form-control" placeholder="Search by Name/ID">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary">Search</button>
                </div>
              </div>
            </div>

            
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Cosmodente</h6>
                  <small class="text-muted">Panaji, Goa</small>
                </div>
                <span class="text-muted">ORG001</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Dental Art</h6>
                  <small class="text-muted">Panaji, Goa</small>
                </div>
                <span class="text-muted">ORG024</span>
              </li>
            </ul>


            <h4 class="d-flex justify-content-between align-items-center mt-4">
              <span class="">Your Photo</span>
            </h4>

            <div class="card p-2">
              <div class="large-thumb d-flex flex-row align-items-center justify-content-center">
                  <img src="../../assets/misc/headshot/p2.jpg" alt="..." class="img-thumbnail">
              </div>
            </div>

          </div>

          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Your Profile</h4>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="reg-firstName">First name</label>
                  <input type="text" class="form-control" id="reg-firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="reg-lastName">Last name</label>
                  <input type="text" class="form-control" id="reg-lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="reg-email">Email</label>
                <input type="email" class="form-control" id="reg-email" placeholder="you@example.com" required="">
                <div class="invalid-feedback">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="mb-3">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="reg-password">Password</label>
                    <input type="password" class="form-control" id="reg-password" placeholder="" required="">
                    <div class="invalid-feedback">
                      Please enter a valid password.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="reg-repassword">Re-type Password</label>
                    <input type="password" class="form-control" id="reg-repassword" placeholder="" required="">
                    <div class="invalid-feedback">
                      Passwords do not match.
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="reg-mob">Mobile no.</label>
                <input type="number" class="form-control" id="reg-mob" placeholder="you@example.com" required="">
                <div class="invalid-feedback">
                  Please enter a valid mobile number.
                </div>
              </div>

              <div class="mb-3">
                <label for="reg-address">Address</label>
                <input type="text" class="form-control" id="reg-address" placeholder="1234 Main St" required="">
                <div class="invalid-feedback">
                  Please enter your address.
                </div>
              </div>

              <div class="mb-3">
                <label for="reg-address2">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="reg-address2" placeholder="Apartment or suite">
              </div>

              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="reg-country">Country</label>
                  <input type="text" class="form-control" id="reg-country" placeholder="Country">
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="reg-state">State</label>
                  <input type="text" class="form-control" id="reg-state" placeholder="State">
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="reg-zip">Zip</label>
                  <input type="text" class="form-control" id="reg-zip" placeholder="" required="">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <hr class="mb-4">

              <h4 class="mb-3">Your Identification</h4>

              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="reg-idtype">ID Type</label>
                  <select class="custom-select d-block w-100" id="reg-idtype" required="">
                    <option value="">Choose...</option>
                    <option>Passport</option>
                    <option>Aadhaar</option>
                    <option>Driving Licence</option>
                    <option>Ration Card</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid ID Type.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="reg-id">ID Number</label>
                  <input type="text" class="form-control" id="reg-id" placeholder="" required="">
                  <div class="invalid-feedback">
                    ID number is required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
          </div>
        </div>
      </form>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2018 Amey Naiyan</p>
      </footer>
    </div>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>